body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Droid Sans Arabic';
    padding:0;
}

h1 {
    border-bottom: 3px #2176c7 solid;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 10px 30px 100px;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.sign-card {
    background: #ddd;
    text-align: center;
    width: 30%;
    margin: 2% auto;
    padding: 2%;
    border-radius: 15px;
}

label {
    width: 40%;
    display: inline-block;
    text-align: right;
}

.text-box {
    background: none;
    border: 1px #2176c7 solid;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    font-family: sans-serif;
}

.validator{
    font-size: 12px;
}

.city-choice {
    background: none;
    border: 1px #2176c7 solid;
    outline: none;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 24px;
    cursor: pointer;
    font-size:16px;
    font-family: 'Droid Sans Arabic';
}

.type-label {
    display: inline-block;
    transform: translateY(-250%);
}

.ticket_type_choice {
    display: inline-block;
    width: 50%;
    margin-bottom: 24px;
    font-size: 16px;
    white-space: nowrap;
}

.view-label {
    border: 1px #2176c7 solid;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    display:inline-block;
    font-family: sans-serif;
    margin-bottom:24px;
}

.btn {
    width: 120px;
    height: 40px;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Droid Sans Arabic';
    font-weight:bold;
    margin:40px 20px;
}

.buy_btn {
    background: #1365d8;
    border: none;
    color: white;
}

.clear_btn {
    background: white;
    border: 1px #2176c7 solid;
    color: #1365d8;
}

    .btn:hover {
        filter: brightness(0.9);
    }

footer {
    padding: 10px 30px;
    border-top: 3px #2176c7 solid;
}